<ion-view view-title="Dashboard">
  <ion-content class="padding">
    
    <button class="button button-calm" on-long-press="AudioIzquierda()" on-touch-end="Detener('btnIzquierda')">Grabar Audio Izquierda</button>
    <br><br><br>

    <button class="button button-calm" on-long-press="AudioDerecha()" on-touch-end="Detener('btnDerecha')">Grabar Audio Derecha</button>
    <br><br><br>

    <button class="button button-calm" on-long-press="AudioAbajo()" on-touch-end="Detener('btnAbajo')">Grabar Audio Abajo</button>
    <br><br><br>

    <button class="button button-calm" on-long-press="AudioArriba()" on-touch-end="Detener('btnArriba')">Grabar Audio Arriba</button>
    <br><br><br>

    <button class="button button-calm" on-long-press="AudioAcostado()" on-touch-end="Detener('btnAcostado')">Grabar Audio Acostado</button>
  </ion-content>
</ion-view>
